<div class="container">
    <div class="row">
        <div class="col-5">
            <p class="test">Vous avez des projets à réaliser?</p>
            <p class="test1">vous souhaitez organisez vos tâches et <br><br> suivre leurs avancements?</p>
            <p class="test2"><strong>pmTools</strong>  vous offre un outil simple de <br><br>gestion de projets.</p>
        </div>
    
        <div class="col-7">
            <div class="row">
                <p class="test3">Une fois les tâches listées, vous n'avez plus qu'à <strong>glisser & <br><br> déposer</strong>  sur l'étape 
                    suivante du projet !
                </p>
            </div>  
            <div class="row">
                <img src="./assets/dnd.png">
            </div>                      
        </div>
    </div> 
    
    <div class="row deux">
        <a class="btn btn-dark" href="./create-taches" role="button">Commencer l'organisation de vos tâches</a>
    </div>
</div>
